In [1]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [110]:
ratings = pd.read_csv('ratings.dat', delimiter='::', names = ['user_id', 'movie_id', 'rating', 'timestamp'])
ratings.head()

/Users/kostya/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [111]:
five_stars_movies = ratings [ (ratings['rating'] == 5) ]
best_movie = five_stars_movies['movie_id'].value_counts(normalize=True).head(1)
best_movie

2858    0.008674
Name: movie_id, dtype: float64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [112]:
power = pd.read_csv('power.csv')
baltic = power [\
                ( (power['country'] == 'Lithuania') | (power['country'] == 'Latvia') | (power['country'] == 'Estonia') ) \
                & (power['quantity'] >= 0) & \
               ( (power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21) ) & \
               ( (power['year'] >= 2005) & (power['year'] >= 2010) ) \
               ]
print(f"Суммарное потребление по заданным параметрам составило {baltic['quantity'].sum()}")

Суммарное потребление по заданным параметрам составило 206476.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [91]:
tournaments = pd.read_html('https://www.sports.ru/stat/football/spain/')[0]
matches_tour = pd.read_html('https://www.sports.ru/stat/football/spain/')[1]
primera_table = pd.read_html('https://www.sports.ru/stat/football/spain/')[2]
goleadors = pd.read_html('https://www.sports.ru/stat/football/spain/')[6]
top_5_goleadors = goleadors.head()
top_5_goleadors

            Имя     Команда  М  Г
0   Лорен Морон       Бетис  3  3
1  Жерар Морено  Вильярреал  3  3
2        Витоло    Атлетико  3  2
3        Хоселу      Алавес  3  2
4  Мойсес Гомес  Вильярреал  3  2